h5 {
    color: red;
}

h3 {
    color: blue;
}
body {
    background-color: rgb(228, 212, 219);
}

#app {
    font-family: 'Courier New', Courier, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

div.joke {
    border: 4px solid red;
    padding: 20px;
    display: inline-block;
    background-image: url(https://cdn.pixabay.com/photo/2017/03/25/17/55/color-2174045_960_720.png);
    background-position: right;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    font-weight: bold;
    border: none;
    background-color: rgb(107, 99, 150); 
    color: rgb(34, 28, 28);
    padding: 5px;
    margin: 5px;
    border: 2px dotted rgb(236, 18, 218);
    border-radius: 12px;
}

button:hover {
    background-color: rgb(231, 136, 136);
}